<!DOCTYPE html>
<html>
<head>
  <title>R</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Rent</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/tenants">Tenants</a></li>
              <li><a href="/managers">Manager</a></li>            
            </ul>
            <ul class="nav pull-right">

                        <% if user_signed_in? %>
                                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %><li>
                        <% else %>
                                <li><%= link_to "Sign in", new_user_session_path %></li>
                        <% end %>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container">
	
  <div style="margin-top: 50px;">
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
	  <p class="warn"><%= warn %></p>
	</div>


	<%= yield %>

</div>

</body>
</html>
